<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Export page</title>
</head>
<body>

<form th:action="@{/core/deb.php}"  th:object="${time}" th:method="get">
    <div>
        <label for="date from">Выберите начало временного интервала</label>
        <input type="datetime-local" th:field="*{fdate}" id="date from"/>
    </div>
    <br>
    <div>
        <label for="date to">Выберите конец временного интервала</label>
        <input type="datetime-local" th:field="*{sdate}" id="date to"/>
    </div>
    <br>
    <div>
        <button type="submit" class="button">Скачать</button>
    </div>

</form>
<br>
</body>
</html>