<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Export page</title>
</head>
<body>

<form th:object="${intervalData}" th:action="@{/mongo/core/deb.php}" th:method="get">
    <div>
        <label for="date from">Выберите начало временного интервала</label>
        <input type="datetime-local" th:field="*{fdate}" id="date from"/>
        <br>
        <a style="color:red" th:if="${#fields.hasErrors('fdate')}" th:errors="*{fdate}">не видно</a>
    </div>
    <br>
    <div>
        <label for="date to">Выберите конец временного интервала</label>
        <input type="datetime-local" th:field="*{sdate}" id="date to"/>
        <br>
        <a style="color:red" th:if="${#fields.hasErrors('sdate')}" th:errors="*{sdate}">не видно</a>
    </div>
    <br>
    <div>
        <input type="radio" name="group" id="jsonR" value="1" th:field="*{jsonOrCsv}">
        <label for="jsonR" th:text="JSON"></label>
        <br>
        <input type="radio" name="group" id="csvR" value="0" th:field="*{jsonOrCsv}">
        <label for="csvR" th:text="CSV"></label>
        <br>
        <a style="color:red" th:if="${#fields.hasErrors('jsonOrCsv')}" th:errors="*{jsonOrCsv}">не видно</a>
    </div>
    <br>
    <div>
        <button type="submit" class="button">Скачать</button>
    </div>

</form>
<br>
</body>
</html>