<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS for searching -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- JS for searching -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.units').select2();
    });
    </script>
    <meta charset="UTF-8">
    <title>Calibration</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        th {
            border: 1px solid grey;
        }
        td {
            border: 1px solid grey;
        }
    </style>
</head>
<body>
<a href="/mongo/admin">
    <input type="submit" value="Назад">
</a>
<center>
    <select id="unitid" name="unitid" class="units" required>
        <option>---</option>
    </select> <br>
    <div>
        <input type="checkbox" id="all" name="all" checked >
        <label for="all">Только актуальные калибровочные данные</label>
    </div> <br>
    <label id="test">Название прибора</label>
    <table>
        <thead><tr>
            <th>Датчик</th>
            <th>Дата и время</th>
            <th>n</th>
            <th>a0</th>
            <th>a1</th>
            <th>a2</th>
            <th>a3</th>
            <th>a4</th>
            <th>a5</th>
            <th>a6</th>
        </tr>
        </thead>
        <tbody id="mytable">
        <tr>
        </tr>
        </tbody>
    </table>
</center>
</body>
<script>
    let table = document.getElementById("mytable")
    let xhttp = new XMLHttpRequest()
    let unit = document.getElementById("unitid")
    let checkbox = document.getElementById("all")
    xhttp.open("GET","/mongo/admin/devices/getall",false)
    xhttp.send()
    let devices = JSON.parse(xhttp.response)
    xhttp.open("GET","/mongo/admin/calibration/get",false)
    xhttp.send()
    let calibrationData = JSON.parse(xhttp.response)
    console.log(calibrationData)
    for(let device of devices) {
        let node = document.createElement("option")
        node.value=device.id
        node.appendChild(document.createTextNode(device.name+"::"+device.serial))
        document.getElementById("unitid").appendChild(node)
    }

    let sensors;
    let onlyActualData = true;
    unit.onchange = function () {
        document.getElementById("test").textContent= unit.options[unit.selectedIndex].text.replace("::"," ");
        xhttp=new XMLHttpRequest()
        xhttp.open("GET","/mongo/admin/devices?uid="+unit.options[unit.selectedIndex].value,false)
        xhttp.send()
        sensors = JSON.parse(xhttp.responseText)
        updateTable()
    }
    checkbox.onchange = function () {
        onlyActualData = checkbox.checked;
        updateTable()
    }

    function updateTable() {
        table.innerHTML=''
        for(let sensor of sensors) {
            let row = table.insertRow(-1);
            let name = row.insertCell(0);
            let link = document.createElement("a")
            link.appendChild(document.createTextNode(sensor))
            link.href = `/mongo/admin/calibration?name=${unit.options[unit.selectedIndex].text}&sensor=${sensor}`
            name.appendChild(link)
            let flag=false;
            for(let cal of calibrationData) {
                if (cal.uName+" "+cal.serial===unit.options[unit.selectedIndex].text.replace("::"," ")) {
                    for(let s of cal.sensors) {
                        if (s.sensor === sensor) {
                            let calibr = s.calibr;
                            calibr.sort(function(a,b){
                                return new Date(b.datetime) - new Date(a.datetime);
                            });

                            if (onlyActualData) {
                                let c = calibr[0];
                                let date = row.insertCell(1);
                                date.innerHTML = c.datetime;
                                let n = row.insertCell(2);
                                n.innerHTML = c.data.n;
                                for (let i = 0; i < c.data.ai.length; i++) {
                                    let ai = row.insertCell(3 + i);
                                    ai.innerHTML = c.data.ai[i];
                                }
                            } else {
                                for (let c of calibr) {
                                    if (flag === true) {
                                        row = table.insertRow(-1);
                                        row.insertCell(0);
                                    }
                                    let date = row.insertCell(1);
                                    date.innerHTML = c.datetime;
                                    let n = row.insertCell(2);
                                    n.innerHTML = c.data.n;
                                    for (let i = 0; i < c.data.ai.length; i++) {
                                        let ai = row.insertCell(3 + i);
                                        ai.innerHTML = c.data.ai[i];
                                    }
                                    flag = true;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</script>
</html>