<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin">
    <input type="submit" value="Назад">
</a>
<center>
    <div style="display: inline-block; margin-left: 0px; vertical-align: middle;">
        <form th:method="POST" th:action="@{devices}" th:object="${device}">
            <label>
                Добавить новый прибор <br>
            </label>
            <input type="text" placeholder="Введите наименование " th:field="*{name}"> <br>
            <input type="text" placeholder="Введите серийный ключ " th:field="*{serial}"> <br>
            <input type="text" placeholder="Введите ключ доступа " th:field="*{akey}"> <br>
            <input type="text" placeholder="Введите координату Х " th:field="*{x}"> <br>
            <input type="text" placeholder="Введите координату У " th:field="*{y}"> <br>
            <input type="text" placeholder="Введите Id объекта " id = "objId1" name = "objId"> <br>
            <input type="submit" value="Добавить">
        </form>
    </div>

    <div style="display: inline-block; margin-left: 45px; vertical-align: middle;">
        <form th:method="PATCH" th:action="@{devices}" th:object="${device}">
            <label>
                Обновить данные приборов <br>
            </label>
            <input type="text" placeholder="Введите Id прибора " id = "id" name = "id"> <br>
            <input type="text" placeholder="Введите новое наименование " th:field="*{name}"> <br>
            <input type="text" placeholder="Введите новый серийный ключ " th:field="*{serial}"> <br>
            <input type="text" placeholder="Введите новый ключ доступа " th:field="*{akey}"> <br>
            <input type="text" placeholder="Введите новую координату Х " th:field="*{x}"> <br>
            <input type="text" placeholder="Введите новую координату У " th:field="*{y}"> <br>
            <input type="text" placeholder="Введите новый Id объекта " id = "objId2" name = "objId"> <br>
            <input type="submit" value="Обновить">
        </form>
    </div>

    <div style="display: inline-block; margin-left: 90px; vertical-align: middle;">
        <form th:method="DELETE" th:action="@{devices}" th:object="${device}">
            <label>
                Удалить прибор из базы <br>
            </label>
            <input type="text" placeholder="Введите Id прибора" id = "id1" name = "id"> <br>
            <input type="submit" value="Удалить">
        </form>
    </div>



    <br>  <div style="font-size: xx-large">
    Список приборов:
</div> <br>

    <div th:if="${ not#lists.isEmpty(devices)}" style="font-size: larger">
        <table>
            <tr>
                <th>Id</th>
                <th>Наименование</th>
                <th>Серийный ключ</th>
                <th>Ключ доступа</th>
                <th>X</th>
                <th>Y</th>
                <th>Название объекта</th>
                <th>Id объекта</th>
                <th>Удалён ли?</th>
            </tr>
            <tr th:each="dev : ${devices}">
                <td th:text="${dev.getId()}"></td>
                <td th:text="${dev.getName()}"></td>
                <td th:text="${dev.getSerial()}"></td>
                <td th:text="${dev.getAkey()}"></td>
                <td th:text="${dev.getX()}"></td>
                <td th:text="${dev.getY()}"></td>
                <td th:text="${dev.getObject()}"></td>
                <td th:text="${dev.getObjId()}"></td>
                <td th:text="${dev.getRemoved()}"></td>
            </tr>
        </table>
    </div>

</center>
</body>
</html>