<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/mongo/admin">
    <input type="submit" value="Назад">
</a>
<center>
    <form enctype="multipart/form-data" th:method="POST" th:action="@{insert}">
        Введите данные в формате JSON: <br>
        <input type="file" name="file" accept=".json,.txt,.log">
        <input type="submit" value="Отправить">
    </form>
</center>
</body>
</html>