<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${admin.getId()})}" th:object="${admin}">
  <label for="username">Введите username</label>
  <input type="text" th:field="*{username}" id="username"> <br>
  <label for="password">Введите пароль</label>
  <input type="password" th:field="*{password}" id="password"><br>
  <label for="fio">Введите ФИО</label>
  <input type="text" th:field="*{fio}" id="fio">
  <br>
  <input type="submit" value="Изменить">
</form>

<form th:method="DELETE" th:action="@{/admin/edit/{id}(id=${admin.getId()})}" th:object="${admin}">
    <input type="submit" value="Удалить этого администратора">
</form>

</body>
</html>